################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi/bin/Debug/net8.0
/WebApi/obj
